html{
  scroll-behavior: smooth;
}
body {
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  
  .logo {
    background-color: #cdff90;
    padding: 250px 25px;
    position: relative;
    width: 100pc;
    max-width: 100pc;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #cdff90 !important;
    z-index: 9999;
    border: 0 !important;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    width: 100pc;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #000 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #cdff90 !important;
    background-color: #25651f !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #25651f;
  }
  .bgreen {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    background-color: #ddffb4;
    width: 100pc;
  }
  .container {
    width: 100pc;
    max-width: 100pc;
  }
  .effects {
    border: none;
    color: #fff;
    padding: 25px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
  }
  .eft {
    background: #25651f;
  }
  .effects:hover {
    background: rgba(0,0,0,0);
    color: #009c3d;
    box-shadow: inset 0 0 0 3px #009c3d;
  }
  .thumbnail {
    padding: 0 0 0 0;
    border: none;
    border-radius: 0;
  }
  .waves{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .wave2{
    animation: movewave2 4s ease-in-out infinite alternate;
  }
  @keyframes movewave2{
    from{
      transform: translateX(100px);
    }
  }
  .wave1{
    animation: movewave1 4s ease-in-out infinite alternate;
  }
  @keyframes movewave1{
    from{
      transform: translateX(-100px);
    }
  }